*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fixed-width{
    width: 1270px;
    margin: auto;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;}
    .header{
        background: #273c75;
    
    }
    .header-left img {width: 150px; 
        margin: auto;
       
    }

.header-left {
    width: 30%;
    margin: auto;
    float: left;
   
}

.header-right {
    width: 70%;
    margin: auto;
    float: right;
    text-align: center;
}

.header-right ul {
    list-style: none;
    
}

.header-right ul li {
    display: inline-block;
  
}

.header-right ul li a {text-decoration: none; 
   padding: 20px;font-size: 30px;
   color: white;
   display: block;
   border-left: 1px solid #ddd;
   margin-right: -4px;
}
.header-right ul li a:hover{
    background-color: white;
    color:blue;
}
.header-left img {
    display: block;
    padding-top: 20px ;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

    
}
.header-left img:hover{
    background-color: white;
}
.banner {
    max-width:100%;
    height: 600px;
    text-align: center;
    padding-top: 133px;
    background-image: url(assets/img/woman-gd7fdaaf07_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;

    
}

.banner h2 {
    margin-bottom: 20px;
    letter-spacing: 7px;
}

.banner p {
    line-height: 2;
    letter-spacing: 2px;
}
.service-item{
    width: calc(100%+5%);
    float: left;
    width: 32.33%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-left: 3px;
    margin-top: 20px; 
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 5px -3px 52px -9px rgba(26,57,212,0.77);
-webkit-box-shadow: 5px -3px 52px -9px rgba(26,57,212,0.77);
-moz-box-shadow: 5px -3px 52px -9px rgba(26,57,212,0.77);
}
.service-item p{
    text-align: center;
    font-size: 24px;
    color: cadetblue;
    letter-spacing: 2px;
}
.service-item span {
    font-size: 20px;
    border: 1px solid green;
    padding: 7px;
    color: rgb(0 255 195 / 65%);
    border-radius: 20px 20px 0px;
}

.service-item h2 {
    margin-bottom: 9px;
    margin-top: 19px;
    color: rgb(0 255 195 / 65%);
    background-color: rgb(28 249 144 / 16%);
}

.blog .imge-left img{
    width: 200px;
    height: auto;
    float: left;
}
.blog img {
    margin-right: 10px;
}

.blog {
    margin-top: 20px;
}

.blog p {
    text-align: justify;
    letter-spacing: 2px;
    font-size: 15px;
}
.content{
    float: left;
    margin-top: 10px;
}